.header {
  background-color: rgb(94, 89, 89);
  height: 100px;
  place-items: center;
  margin-bottom: 15px;
}
.header > * {
  height: 100px;
  width: 100px;
}

.search {
  /* margin-top: 15px;
  margin-bottom: 15px; */
}

.search > * {
  font-family: sans-serif;
  font-weight: 600;
}